Yo, Makers. Welcome to Chitter!

<form action='/users' method="post">

  <label for='email'>
  Email: <input name='email' type='email' value='<%= @user.email %>' required>
</label>
<label for='name'>
  Name: <input name='name' type='name'>
</label>
<label for='username'>
  Username: <input name='username' type='username'>
</label>
<label for='password'>
  Password: <input name='password' type='password'>
</label>
<label for='password_confirmation'>
  Password: <input name='password_confirmation' type='password'>
</label>
  <input type="submit" value="Save user"/>
</form>
